.carousel-container {
  width: 90%;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  padding: 1rem;
  /* background-color: #007BFF; */
  gap: 3rem;
  padding-left: 50px;
  margin-left: 10px;
  margin-top: 50px;
}

.slide {
  flex: 0 0 auto;
  height: 300px;
  width: 350px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  scroll-snap-align: start;
  transition: transform 0.3s;
}

.slide:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.slide-image {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.slide-content {
  padding: 0.5rem;
}

.slide-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.airplane-icon img {
  width: 24px;
  height: 24px;
}

.route-info {
  flex: 1;
  margin-left: 0.5rem;
}

.route-info p {
  margin: 0;
  font-size: 0.85rem;
  color: #333;
}

.price-info {
  text-align: right;
}

.price-info p {
  margin: 0;
  font-size: 0.75rem;
  color: #666;
}

.price-info h2 {
  margin: 0;
  font-size: 1.2rem;
  color: #A89DE0;
}

.slide-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.slide-actions button {
  flex: 1;
  margin: 0 0.25rem;
  padding: 0.4rem;
  background-color: #A89DE0;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 0.85rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.slide-actions button:hover {
  background-color: white;
  color: #A89DE0;
  border: 2px solid #A89DE0;
}

.slide-header1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 768px) {
  .slide {
    width: 200px;
  }
}

@media(max-width: 480px) {
  .carousel-container {
    margin-left: 50px;
  }

  .slide {
    width: 250px;
    height: 240px;
    /* background-color: #007BFF; */
  }

  .slide-image {
    height: 120px;
  }

  .route-info p,
  .price-info p,
  .price-info h2 {
    font-size: 0.75rem;
  }

  .slide-actions button {
    font-size: 0.75rem;
  }
}